! Author: philosophos<philosoph@yeah.net>
! GitHub: https://github.com/philosophos/Xresources
!##########################################################
!xft
!
!urxvt
!scroll
!color
!font
!cursor&pointer
!select&perl-ext
!other
!
!XTERM
!Application:Resources
!VT100:Widget Resources
!color255:true
!Scrollbar_Resources
!XTerm_VT100_translations_#override \n\
!##########################################################
!xft
xft.rbga:rbg
xft.autohint:0
!xft.hintstyle:hintslight
xft.hintstyle:hintfull
xft.hinting:1
xft.antialias:1
xpdf.title:XPDF

!##########################################################
!urxvt
!##########################################################
!scroll
urxvt.jumpScroll:false
!urxvt.skipScroll:True
urxvt.scrollstyle:plain
!urxvt.thickness:8
!urxvt.scrollBar:True
!urxvt.scrollBar_right:True
!urxvt.scrollTtyOutput:false
urxvt.scrollWithBuffer:true
urxvt.scrollTtyKeypress:true
urxvt.saveLines:8000
!urxvt.mouseWheelScrollPage:true

!color
urxvt.background:[80]#020202
urxvt.foreground:#00cc00
urxvt.colorBD:#888800
urxvt.colorIT:#008800
urxvt.colorUL:#ffaa00
urxvt.underlineColor:#cccc00
urxvt.highlightColor:#555555
urxvt.highlightTextColor:#000000
urxvt.cursorColor:#aaaa00
urxvt.fading:16
urxvt.fadeColor:black
urxvt.scrollColor:#666666
!urxvt.troughColor: colour
!urxvt.borderColor: colour

!font
urxvt.font:xft:NotoSansMonoCJKSC:pixelsize=18
!urxvt.boldFont:xft:NotoSansMonoCJKSC:pixelsize=18
!urxvt.italicFont:xft:NotoSansMonoCJKSC:pixelsize=18
!urxvt.boldItalicFont:xft:NotoSansMonoCJKSC:pixelsize=18
urxvt.letterSpace:-4
urxvt.lineSpace:-4

!cursor&pointer
!urxvt.cursorBlink:true
!urxvt.cursorUnderline:false
!urxvt.pointerBlank:
!urxvt.pointerColor:
!urxvt.pointerColor2:
!urxvt.pointerShape:
!urxvt.pointerBlankDelay:

!select&perl-ext
!urxvt.cutchars:
urxvt.tripleclickwords:true
!urxvt.perl-ext-common:
!urxvt.perl-ext:
!urxvt.perl-eval:
!urxvt.perl-lib:
!urxvt.selection.pattern-idx:
!urxvt.selection-autotransform.idx:
!urxvt.searchable-scrollback:

!BACKGROUND IMAGE
!urxvt.
!urxvt.

!other
urxvt.depth: 32
urxvt.geometry:180x35
!urxvt.pastableTabs:false
urxvt.preeditType:Root
urxvt.url-Launcher:firefox


!##########################################################
!XTERM
!##########################################################
!!Application:Resources
!XTerm*backarrowKeyIsErase:
!XTerm*fullscreen:
!XTerm*hold:
!XTerm*hpFunctionKeys:
!XTerm*iconGeometry:
!XTerm*iconHint:
!XTerm*iconName:
!XTerm*keyboardType:
!XTerm*maxBufSize:
!XTerm*maximized:
!XTerm*messages:
!XTerm*menuLocale:
!XTerm*minBufSize:
!XTerm*omitTranslation:
!XTerm*ptyHandshake:
!XTerm*ptyInitialErase:
!XTerm*ptySttySize:
!XTerm*reportColors:
!XTerm*reportFonts:
!XTerm*sameName:
!XTerm*scaleHeight:0.9
!XTerm*scoFunctionKeys:
!XTerm*sessionMgt:
!XTerm*sunFunctionKeys:
!XTerm*sunKeyboard:
!XTerm*tcapFunctionKeys:
XTerm*termName:xterm-256color
!XTerm*title:
!XTerm*toolBar:
XTerm*ttyModes:erase ^?
!XTerm*useInsertMode:
!XTerm*utmpDisplayId:
!XTerm*utmpInhibit:
!XTerm*waitForMap:
!XTerm*zIconBeep:
!XTerm*zIconTitleFormat:
!
!!##########################################################
!!VT100:Widget Resources
!XTerm*activeIcon:
!XTerm*allowBoldFonts:
!XTerm*allowC1Printable:
!XTerm*allowColorOps:
!XTerm*allowFontOps:
!XTerm*allowPasteControls:
!XTerm*allowScrollLock:
!XTerm*allowSendEvents:
!XTerm*allowTcapOps:
!XTerm*allowTitleOps:
!XTerm*allowWindowOps:
!XTerm*altIsNotMeta:
XTerm*altSendsEscape:true
!XTerm*alternateScroll:
!XTerm*alwaysBoldMode:
!XTerm*alwaysHighlight:
!XTerm*alwaysUseMods:
!XTerm*answerbackString:
!XTerm*appcursorDefault:
!XTerm*appkeypadDefault:
!XTerm*assumeAllChars:
!XTerm*autoWrap:
!XTerm*awaitInput:
XTerm*backarrowKey:false
XTerm.VT100.background:#000000
!XTerm*bellIsUrgent:
!XTerm*bellOnReset:
!XTerm*bellSuppressTime:
!XTerm*boldColors:
!XTerm*boldFont:
!XTerm*boldMode:
!XTerm*brokenLinuxOSC:
!XTerm*brokenSelections:
!XTerm*brokenStringTerm:
!XTerm*c132:
!XTerm*cacheDoublesize:
!XTerm*cdXtraScroll:
!XTerm*char:
!XTerm*cjkWidth:false
!XTerm*color0:
!XTerm*color1:
!XTerm*color2:
!XTerm*color3:
!XTerm*color4:
!XTerm*color5:
!XTerm*color6:
!XTerm*color7:
!XTerm*color8:
!XTerm*color9:
!XTerm*color10:
!XTerm*color11:
!XTerm*color12:
!XTerm*color13:
!XTerm*color14:
!XTerm*color15:
!XTerm*color16:
XTerm*color255:true
!XTerm*colorAttrMode:
XTerm*colorBD:#888800
XTerm*colorBDMode:true
XTerm*colorBL:#cc8800
XTerm*colorBLMode:true
XTerm*colorIT:#008800
XTerm*colorITMode:true
!XTerm*colorMode:
!XTerm*colorRV:#000000
!XTerm*colorRVMode:true
XTerm*colorUL:#ffaa00
XTerm*colorULMode:true
!XTerm*combiningChars:
!XTerm*ctrlFKeys:
!XTerm*curses:
XTerm*cursorBlink:true
XTerm*cursorColor:#aaaa00
!XTerm*cursorOffTime:
!XTerm*cursorOnTime:
!XTerm*cutNewline:
!XTerm*cursorUnderLine:true
!XTerm*cutToBeginningOfLine:
!XTerm*decTerminalID:
!XTerm*defaultString:
!XTerm*deleteIsDEL:
!XTerm*disallowedColorOps:
!XTerm*disallowedFontOps:
!XTerm*disallowedTcapOps:
!XTerm*disallowedWindowOps:
!XTerm*dynamicColors:
!XTerm*eightBitControl:
XTerm*eightBitInput:false
!XTerm*eightBitMeta:
!XTerm*eightBitOutput:
!XTerm*eightBitSelectTypes:
XTerm*faceName:Noto Mono
XTerm*faceNameDoublesize:Noto Sans Mono CJK TC
XTerm*faceSize:15
!XTerm*faceSize1:1
!XTerm*faceSize2:2
!XTerm*faceSize3:3
!XTerm*faceSize4:4
!XTerm*faceSize5:5
!XTerm*faceSize6:6
!XTerm*font:10x20
!XTerm*fastScroll:
!XTerm*font1:1
!XTerm*font2:2
!XTerm*font3:3
!XTerm*font4:4
!XTerm*font5:5
!XTerm*font6:6
XTerm*fontDoublesize:false
!XTerm*fontWarnings:
!XTerm*forceBoxChars:
XTerm*forcePackedFont:false
XTerm.VT100.foreground:#00cc00
!XTerm*formatOtherKeys:
!XTerm*freeBoldBox:
XTerm*VT100.geometry:85x35
XTerm*highlightColor:#555555
XTerm*highlightColorMode:true
!XTerm*highlightReverse:true
XTerm*highlightSelection:true
XTerm*highlightTextColor:#000000
!XTerm*hpLowerleftBugCompat:
!XTerm*i18nSelections:
!XTerm*iconBorderColor:
!XTerm*iconBorderWidth:
!XTerm*iconFont:
!XTerm*initialFont:
!XTerm*inputMethod:
!XTerm*internalBorder:
XTerm*italicULMode:true
!XTerm*jumpScroll:false
!XTerm*keepClipboard:
!XTerm*keepSelection:
!XTerm*keyboardDialect:
!XTerm*nameKeymap:
!XTerm*limitResize:
XTerm*locale:true
!XTerm*localeFilter:
!XTerm*loginShell:
!XTerm*logFile:
!XTerm*logInhibit:
!XTerm*logging:
!XTerm*marginBell:
XTerm*metaSendsEscape:true
!XTerm*mkSamplePass:
!XTerm*mkSampleSize:
!XTerm*mkWidth:
!XTerm*modifyCursorKeys:
!XTerm*modifyFunctionKeys:
!XTerm*modifyKeyboard:
!XTerm*modifyOtherKeys:
!XTerm*multiClickTime:
!XTerm*multiScroll:
!XTerm*nMarginBell:
!XTerm*numLock:
!XTerm*oldXtermFKeys:
!XTerm*on2Clicks:
!XTerm*on3Clicks:
!XTerm*on4Clicks:
!XTerm*on5Clicks:
!XTerm*openIm:
!XTerm*pointerColor:
!XTerm*pointerColorBackground:
!XTerm*pointerMode:
!XTerm*pointerShape:
!XTerm*popOnBell:
!XTerm*precompose:
XTerm*preeditType:Root
!XTerm*printAttributes:
!XTerm*printFileImmediate:
!XTerm*printFileOnXError:
!XTerm*printModeImmediate:
!XTerm*printModeOnXError:
!XTerm*printOptsImmediate:
!XTerm*printOptsOnXError:
!XTerm*printerAutoClose:
!XTerm*printerCommand:
!XTerm*printerControlMode:
!XTerm*printerExtent:
!XTerm*printerFormFeed:
!XTerm*printerNewLine:
!XTerm*privateColorRegisters:
!XTerm*quietGrab:
!XTerm*regisScreenSize:
!XTerm*renderFont:
!XTerm*resizeGravity:
!XTerm*retryInputMethod:
!XTerm*reverseVideo:true
!XTerm*reverseWrap:
!XTerm*rightScrollBar:true
XTerm*saveLines:8000
XTerm*scrollBar:true
!XTerm*scrollBarBorder:false
!XTerm*scrollKey:
!XTerm*scrollLines:8000
!XTerm*scrollTtyOutput:false
!XTerm*selectToClipboard:
!XTerm*shiftFonts:
!XTerm*showBlinkAsBold:
!XTerm*showMissingGlyphs:
!XTerm*showWrapMarks:
!XTerm*signalInhibit:
!XTerm*sixelScrolling:
!XTerm*tekGeometry:
!XTerm*tekInhibit:
!XTerm*tekSmall:
!XTerm*tekStartup:
!XTerm*tiXtraScroll:
!XTerm*titeInhibit:
!XTerm*titleModes:
!XTerm*translations:
!XTerm*trimSelection:
!XTerm*underLine:
!XTerm*useClipping:
!XTerm*utf8:true
!XTerm*utf8Fonts:
!XTerm*utf8Latin1:
!XTerm*utf8SelectTypes:
!XTerm*utf8Title:true
!XTerm*veryBoldColors:
!XTerm*visualBell:
!XTerm*visualBellDelay:
!XTerm*visualBellLine:
!XTerm*vt100Graphics:
!XTerm*wideBoldFont:
!XTerm*wideChars:false
!XTerm*wideFont:
!XTerm*ximFont:

!!##########################################################
!!Scrollbar_Resources
XTerm*thickness:8
XTerm.Scrollbar.background:#000000
XTerm.Scrollbar.foreground:#333333

!!##########################################################
!XTerm_VT100_translations_#override \n\

!XTerm.VT100*translations:#override \n\
!    Shift<KeyPress>Insert:insert-selection(CLIPBOARD,CUT_BUFFER1)\n\
!    ~Shift~Ctrl<Btn2Up>:insert-selection(PRIMARY,CUT_BUFFER1)\n\
!    ~Shift<BtnUp>:select-end(PRIMARY,CLIPBOARD,CUT_BUFFER1)
!    ~Shift<BtnUp>:select-end(PRIMARY,CUT_BUFFER0)

!Xterm.VT100*translations:#override \n\
!    Ctrl Shift<KeyPress>C:select-end(PRIMARY,CLIPBOARD,CUT_BUFFER0)\n\
!    Ctrl Shift<KeyPress>V:insert-selection(PRIMARY,CLIPBOARD,CUT_BUFFER0)
!    <Btn2Up>:select-end(PRIMARY,CLIPBOARD,CUT_BUFFER0)\n\
!    <Btn2Down>:insert-selection(PRIMARY,CLIPBOARD,CUT_BUFFER0)

!*VT100*translations:#override \n\
!    ~Shift~Ctrl<Btn2Up>: insert-selection(PRIMARY, CUT_BUFFER0) \n\
!    Shift~Ctrl<Btn2Up>:  insert-selection(CLIPBOARD, CUT_BUFFER1) \n\
!    ~Shift<BtnUp>:       select-end(PRIMARY, CUT_BUFFER0) \n\
!    Shift<BtnUp>:        select-end(CLIPBOARD, CUT_BUFFER1)
!*VT100.scrollbar.translations:#override \n\
!    <Btn5Down>:     StartScroll(Forward) \n\
!    <Btn1Down>:     StartScroll(Continuous) MoveThumb() NotifyThumb() \n\
!    <Btn4Down>:     StartScroll(Backward) \n\
!    <Btn1Motion>:   MoveThumb() NotifyThumb() \n\
!    <BtnUp>:        NotifyScroll(Proportional) EndScroll()

!!##########################################################
!!END OF FILE
